
/* Your CSS Code here. */
.part{
    background-color: brown;
    color: white;
}
.waist{
    background-color: lightcoral;
    color: white;
}
.chest{
    background-color: rgb(238, 168, 168);

}
.sleeve{
    background-color: slategray;

}